table {
    border-collapse: collapse;
    border: solid 1px black;
}

/* table tr {
    border: 1px solid black;
    border-collapse: collapse;
    border: solid 1px black;
} */

table th {
    border: 1px solid black;
    padding: 1em;
}

table td {
    border: 1px solid black;
    padding: 1em;
}